@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap);
@import url(https://fonts.cdnfonts.com/css/mesa-grande);
@font-face {font-family: "Mesa Grande";
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot");
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot?#iefix")
                format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff2")
                format("woff2"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff")
                format("woff"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.ttf")
                format("truetype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.svg#Mesa Grande")
                format("svg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #939992;
}

h1 {
  font-family: 'Marvelan', sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 31px;
  font-size: 36px;
}
h2 {
  font-family: 'Marvelan', sans-serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 31px;
  font-size: 24px;
}

p {
    font-family: 'Sulphur Point';
    margin-bottom: -10px;
    font-size: 24px;
}


.login-title {
  color: black;
  margin-left: 100px;
  font-size: 24px;
  font-family: 'Sulphur Point';
}

.form-box-homeowner {
    background-color: #D9D9D9;
    height: 3625px;
    width: 850px;
    border-radius: 0.5%;
    margin: auto;
}
.form-box-lessee {
    background-color: #D9D9D9;
    height: 3925px;
    width: 850px;
    border-radius: 0.5%;
    margin: auto;
}

#form_container {
    padding-top: 20px;
    padding-left: 97px;
}

#form_input_title {
    font-size: 24px;
    margin-bottom: 11px;
}
#form_input_title-md {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 358px;
}
#form_input_title-titleno {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 255px;
}
#form_input_title-survey {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 227px;
}
#form_input_title-datereg {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 169px;
}
#form_input_title-taxdec {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 129px;
}
#form_input_title-paidmember {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 94px;
}
#form_input_title-radiobutton {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 10px;
}
#form_input_title-plate {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 246px;
}
#form_input_title-brand {
    font-size: 24px;
    margin-bottom: 11px;
    margin-right: 276px;
}
.add_more {
    text-align: right;
    margin-right: 105px;
}
.login-content {
    padding-top: 50px;
}
.login-form {
  height: 75px;
  width: 650px;
  /*color: #ffffff;*/
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 16px;
}
.login-md-form {
  height: 75px;
  width: 250px;
  /*color: #ffffff;*/
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 16px;
  margin-right: 251px;
}
.login-age-form {
  height: 75px;
  width: 144px;
  /*color: #ffffff;*/
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 16px;
}
.login-lot-form {
  height: 75px;
  width: 302px;
  /*color: #ffffff;*/
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 16px;
  margin-right: 43px;
}
.login-lot-form-paid {
  height: 75px;
  width: 302px;
  /*color: #ffffff;*/
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 224px;
  margin-top: 5px;
  margin-bottom: 16px;
}
.main-body {
  top: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.button-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.button-design{
  margin-top: 32px;
  margin-left: 280px;
  height: 52px; 
  width: 300px;
  background: #4A5C46;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 24px;  
  font-family: Sulphur Point;
  text-align: center;
  transition: background 0.2s ease-out;
}

.button-design:hover {
  background-color: #252f23;
}