<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>postgres.ovvwpegjxbwcgempumml</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>crowntechkha</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:postgresql://aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres</param-value>
    </context-param>
    <context-param>
        <param-name>key</param-name>
        <param-value>RECORDKINGSVILLE</param-value>
    </context-param>
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <context-param>
        <param-name>domain</param-name>
        <param-value>http://localhost:8080</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controller.SystemContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortHandle</servlet-name>
        <servlet-class>controller.SortHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortHandler</servlet-name>
        <servlet-class>controller.SortHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordReset</servlet-name>
        <servlet-class>controller.password.RequestPasswordReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDF</servlet-name>
        <servlet-class>controller.ExportPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.signup.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptLoader</servlet-name>
        <servlet-class>controller.ReceiptLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLogin</servlet-name>
        <servlet-class>controller.signup.CreateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfo</servlet-name>
        <servlet-class>controller.UpdateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAcc</servlet-name>
        <servlet-class>controller.accounts.CreateAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinanceTrack</servlet-name>
        <servlet-class>controller.FinanceTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBalance</servlet-name>
        <servlet-class>controller.UpdateBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMonthlyDues</servlet-name>
        <servlet-class>controller.AddMonthlyDues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHomeowner</servlet-name>
        <servlet-class>controller.accounts.CreateHomeowner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayLot</servlet-name>
        <servlet-class>controller.PayLot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordUrlVerify</servlet-name>
        <servlet-class>controller.password.UrlVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.password.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortHandler</servlet-name>
        <url-pattern>/SortHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDF</servlet-name>
        <url-pattern>/ExportPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptLoader</servlet-name>
        <url-pattern>/ReceiptLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAcc</servlet-name>
        <url-pattern>/CreateAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinanceTrack</servlet-name>
        <url-pattern>/FinanceTrack</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/errors/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>440</error-code>
        <location>/errors/440.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CreateLogin</servlet-name>
        <url-pattern>/CreateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfo</servlet-name>
        <url-pattern>/UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBalance</servlet-name>
        <url-pattern>/UpdateBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMonthlyDues</servlet-name>
        <url-pattern>/AddMonthlyDues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHomeowner</servlet-name>
        <url-pattern>/CreateHomeowner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayLot</servlet-name>
        <url-pattern>/PayLot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordUrlVerify</servlet-name>
        <url-pattern>/PasswordUrlVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordReset</servlet-name>
        <url-pattern>/RequestPasswordReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>generalpurpose/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
