<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby://localhost:1527/Crowntech</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortHandle</servlet-name>
        <servlet-class>controller.SortHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortHandler</servlet-name>
        <servlet-class>controller.SortHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReset</servlet-name>
        <servlet-class>controller.PasswordReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDF</servlet-name>
        <servlet-class>controller.ExportPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortHandler</servlet-name>
        <url-pattern>/SortHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReset</servlet-name>
        <url-pattern>/PasswordReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDF</servlet-name>
        <url-pattern>/ExportPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
