body{
    background: #939992;
}
.tableContent {
    border-collapse: collapse;
    margin: 25px 0 20px 20px;
    font-size: 20px;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    width: 1840px;
}

th, td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tableTitle {
    font-size: 40px;
    height: 130px;
}

.tableContentText {
    height: 104px;
    font-size: 28px;
    font-family: Sulphur Point;
    background-color: #D9D9D9;
    border: 0px none;
}

.tableContent thead tr {
    background-color: #739b78;
    font-family: 'Noto Sans Bengali', sans-serif;
    color: #black;
}

.tableContent tbody tr {
    border-bottom: 1px solid #4d4539;
}

.tableContent tbody tr:nth-of-type(odd) {
    background-color: #D9D9D9;
}

.tableContent tbody tr:nth-of-type(even) {
    background-color: #a6957c;
}

tbody {
    font-family: Roboto;
}

* {
  box-sizing: border-box;
}

.tableB {
    font-weight: bold;
    width: 200px;
    height: 75px;
    border-radius: 15px;
    font-size: 24px;
    margin-top: 69px;
}

.accept {
    background-color: #84ff79;
    margin-right: 73.5px;
}
.reject {
    background-color: #ff7979;
    margin-left: 73.5px;
}

.buttons {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 64px;
    text-align: center;
    color: white;
}