.login-box {
    background-color: #f0f5f3;
    height: 500px;
    width: 600px;
    border-radius: 1.5%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.login-form {
  margin-left: 100px;
  height: 75px;
  width: 650px;
  /*color: #ffffff;*/
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
}


/* -------------------------------------------------------------------------- */
/* Change Password */
.changepass-box {
    background-color: #f0f5f3;
    height: 470px;
    width: 600px;
    border-radius: 1.5%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.changepass-text {
    vertical-align: middle;
}

.changepass-label-container {
    margin-top: 28px;
    margin-bottom: 22px;
    margin-left: 6%;
    margin-right: 6%;
}


/* -------------------------------------------------------------------------- */
/* Forgot Password */
.forgot-box {
    background-color: #f0f5f3;
    height: 350px;
    width: 600px;
    border-radius: 1.5%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}



.form {
  width: 100%;
  height: 28px;
  /*color: #ffffff;*/
  border-color: #377d60;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.form-small {
  width: 30%;
  height: 28px;
  /*color: #ffffff;*/
  border-color: #377d60;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.form-medium {
  width: 40%;
  height: 28px;
  /*color: #ffffff;*/
  border-color: #377d60;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 16px;
}

#form-margin {
    margin-right: 40%;
}

#form-margin-medium {
    margin-right: 20%;
}

.login-ref {
  color: gray;
  text-align: center;
  font-size: 20px;
  font-family: 'Inter';
}

.sign-up {
  font-size: 1rem;
  margin: 0;
}


/* -------------------------------------------------------------------------- */
/* Homeowner Signup */
.signup-box {
    background-color: #f0f5f3;
    height: 750px;
    width: 620px;
    border-radius: 1.5%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    position: relative;
    overflow: hidden;
}

.signup-box form {
    width: 90%;
    position: absolute;
    margin-left: -27.5%;
    transition: 0.5s;
}

.login-md-form {
  height: 75px;
  width: 250px;
  border-color: #747474;
  border-width: 2px;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 16px;
  margin-right: 251px;
}

.step-row {
    font-family: 'Inter';
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    color: #f0f5f3;
}

.step-col {
    width: 120px;
    text-align: center;
    color: #f0f5f3;
    position: relative;
}

#progress {
    position: absolute;
    height: 100%;
    width: 16.66%;
    background: #48a37d;
    transition: 0.5s;
}

#progressEDIT {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #48a37d;
    transition: 0.5s;
}

#progress:after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #48a37d;
}

#Next1, #Next2, #Next3, #Next4, #Next5, #Next6, #Back2, #Back3, #Back4, #Back5, #Back6 {
    width: 150px;
    cursor: pointer;
}

#form1 {
    left: 32.5%;
}

#form2, #form3, #form4, #form5, #form6 {
    left: 1000px;
}

/* -------------------------------------------------------------------------- */
/* Responsiveness */

@media only screen and (max-width: 1600px) {
    .changepass-box {
        width: 500px;
        height: 390px;
    }
    
    .forgot-box {
        width: 500px;
        height: 310px;
    }
    
    .changepass-label-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1400px) {
    .changepass-box {
        width: 400px;
        height: 350px;
        margin-top: -1.5%;
    }
    
    .forgot-box {
        margin-top: -1.5%;
    }
    
    .changepass-label-container {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    .changepass-box {
        width: 320px;
        height: 300px;
    }
    
    .forgot-box {
        width: 320px;
        height: 220px;
    }
    
        .changepass-label-container {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 1024px) {
    .changepass-box {
        width: 260px;
        height: 290px;
    }
    
    .forgot-box {
        width: 320px;
        height: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .changepass-box {
        width: 260px;
        height: 250px;
    }
    
    .forgot-box {
        width: 260px;
        height: 180px;
    }
}