@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Noto Sans);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(184, 250, 212, 0.7), #bac8b6),url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-body {
  top: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Inter';
  text-align: center;
  color: #377d60;
  font-size: 60px;
  font-weight: 100;
}

.h1-bold {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 16px;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #377d60;
}

h2 {
  font-family: 'Inter';
  margin-top: 6px;
  text-align: center;
  color: #90ad9d;
  font-size: 20px;
  font-weight: 100;
}

.h2-bold {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
}

label {
  font-family: 'Inter';
  text-align: left;
  color: #377d60;
  font-size: 20px;
  font-weight: 600;
}

input {
  border-color: #48a37d;
  border: solid 2px;
}

p {
    text-align: justify;
    font-family: 'Inter';
    font-size: 20px;
    color: #90ad9d;
}

.p-right {
    text-align: right;
}

select:focus,
input:focus {
  outline: 1px solid #757575;
}

.select-box {
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: black;
    font-size: 20px;
    height: 60px;
    text-align: center;
}

.button-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-design{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 52px; 
  width: 280px;
  background: #48a37d;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 20px;  
  font-family: 'Inter';
  text-align: center;
  display: inline-block;
  transition: background 0.2s ease-out;
  border: none;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.button-design-reject{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 52px; 
  width: 300px;
  background: #a34848;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 20px;  
  font-family: 'Inter';
  text-align: center;
  display: inline-block;
  transition: background 0.5s ease-out;
  border: none;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.button-design:hover {
  background-color: #ffffff;
  color: #48a37d;
  border-color: #48a37d;
  border: solid 2px;
}

.button-design-reject:hover {
  background-color: #ffffff;
  color: #a34848;
  border-color: #a34848;
  border: solid 2px;
}

.sortSearch input[type=text] {
  margin-left: 12.5%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
  font-family: 'Inter';
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  border-radius: 50px;
}

.sortSearch button {
  float: left;
  width: 22.3%;
  padding: 10px;
  background: #48a37d;
  color: white;
  font-size: 20px;
  border: 2px solid #377d60;
  cursor: pointer;
  font-family: 'Inter';
  transition: background 0.2s ease-out;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  border-radius: 50px;
  margin-left: -22.3%;
}

.sortSearch button:hover {
  background-color: #ffffff;
  color: #48a37d;
  border-color: #48a37d;
  border: solid 2px;
}

.sortSearch::after {
  content: "";
  clear: both;
  display: table;
}

    .line{
        border-bottom: 2px gray solid;
    }