@import url(https://fonts.googleapis.com/css?family=Inter);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(184, 250, 212, 0.7), #bac8b6),url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-body {
  top: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Inter';
  text-align: center;
  color: #377d60;
  font-size: 60px;
  font-weight: 100;
}

.h1-bold {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 16px;
}

h2 {
  font-family: 'Inter';
  margin-top: 6px;
  text-align: center;
  color: #90ad9d;
  font-size: 20px;
  font-weight: 100;
}

.h2-bold {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 900;
}

label {
  font-family: 'Inter';
  text-align: left;
  color: #377d60;
  font-size: 20px;
  font-weight: 100;
  font-weight: 900;
}

p {
    text-align: justify;
    font-family: 'Inter';
    font-size: 20px;
    color: #90ad9d;
}

.button-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-design{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 52px; 
  width: 300px;
  background: #48a37d;
  color: #FFFFFF;
  font-size: 20px;  
  font-family: 'Inter';
  text-align: center;
  display: inline-block;
  transition: background 0.2s ease-out;
  border: none;
}

.button-design-reject{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 52px; 
  width: 300px;
  background: #a34848;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 20px;  
  font-family: 'Inter';
  text-align: center;
  display: inline-block;
  transition: background 0.2s ease-out;
}

.button-design:hover {
  background-color: #252f23;
}

.sortSearch input[type=text] {
  margin-left: 12.5%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid grey;
  float: left;
  width: 52.7%;
  background: #f1f1f1;
  font-family: 'Inter';
}

.sortSearch button {
  float: left;
  width: 22.3%;
  padding: 10px;
  background: #48a37d;
  color: white;
  font-size: 20px;
  border: 1px solid #377d60;
  border-left: none;
  cursor: pointer;
  font-family: 'Inter';
}

.sortSearch button:hover {
  background: #377d60;
}

.sortSearch::after {
  content: "";
  clear: both;
  display: table;
}