@import url(https://fonts.cdnfonts.com/css/mesa-grande);
@import url(https://fonts.cdnfonts.com/css/marvelan);
@font-face {font-family: "Mesa Grande";
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot");
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot?#iefix")
                format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff2")
                format("woff2"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff")
                format("woff"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.ttf")
                format("truetype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.svg#Mesa Grande")
                format("svg"); }

.logo {
    margin: 10px;
    padding-top: 3px;
    width: 330px;
}
body{
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4a5c46;
}
.logo-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background: #252f23;
}
.nav-links{
    margin-top: 10px;
    padding: 28px 10px;
    font-family: 'Mesa Grande', sans-serif;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    position: relative;
    font-size: 20px;
}
.nav-links li a::after{
    content: '';
    background: #252f23;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
