@import url(https://fonts.googleapis.com/css?family=Inter);

.logo {
    margin: 10px;
    padding-top: 3px;
    width: 330px;
}
body{
    margin: 0;
}
nav {
    display: flex;
    background-color: #48a37d;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.logo-profile{
    width: 28px;
    height: 28px;
    display: inline-block;
    background: #48a37d;
    margin-bottom: -17%;
    border-radius: 50%;
}
.nav-links{
    margin-top: 1.4%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
    font-family: 'Inter';
    font-weight: 600;
}
.nav-links li{
    display: inline-block;
    margin: 0 20px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 28px;
}
.nav-links li a::after{
    content: '';
    background: white;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
    text-shadow: 2px 3px 5px rgba(255,255,255,1);
}
.nav-links li a:hover::after{
    width: 100%;
}

@media only screen and (max-width: 1600px) {
    .nav-links li a {
        font-size: 20px;
    }

    .logo-profile {
        height: 20px;
        width: 20px;
    }

    .logo {
        width: 200px;
    }
}

@media only screen and (max-width: 1400px) {
    .nav-links li a {
        font-size: 16px;
    }

    .logo-profile {
        height: 16px;
        width: 16px;
    }

    .logo {
        width: 150px;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-links li a {
        font-size: 14px;
    }

    .logo-profile {
        height: 14px;
        width: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-links li a {
        font-size: 12px;
    }

    .logo-profile {
        height: 12px;
        width: 12px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-links li a {
        font-size: 10px;
    }

    .logo-profile {
        height: 10px;
        width: 10px;
    }
}