/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 01 31, 24, 1:01:37 AM
    Author     : ejlu1
*/

body {
    background-color: #939992;
}

.profileStrip {
    background: #D9D9D9;
    height: 150px;
    width: 1800px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
}

.infoText {
    padding-left: 25px;
}
.profileText {
    flex: 1;
    margin: auto;
}
.profileB {
    text-align: right;
    margin: auto;
}
.area {
    display: flex;
}
.buttonP {
    width: 300px;
    height: 52px;
    margin-right: 10px;
    background: #4A5C46;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 24px;
    margin-bottom: 13px;
    flex: 1;
}
.buttonA {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
}
.green {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    background-color: #84FF79;
    width: 288px;
    height: 64px;
    flex: 1;
    border-radius: 15px;
}
.panelText{
    margin-top: 10px;
    text-align: center;
}
.infoB {
    flex: 1;
}
.houseInfo {
    display: flex;
    flex: 1;
    margin: auto;
}
h1 {
    margin-top: 0px;
}
p {
    margin-bottom: 0px;
}