/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 01 31, 24, 1:01:37 AM
    Author     : ejlu1
*/

* {
  box-sizing: border-box;
}
body {
    background-color: #939992;
}