#profileStrip {
    background-color: #f0f5f3;
    height: 15%;
    width: 75%;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

#profileStripB {
    background-color: #f0f5f3;
    height: 15%;
    width: 75%;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.profileText {
    margin-top: auto;
    margin-left: 16px;
    margin-bottom: auto;
    display: block;
}

.profileTextsmall {
    display: none;
}

#profileHeader {
    margin-top: -3%;
    text-align: left;
    font-size: 60px;
    margin-bottom: -.1%;
}

#profileLotHeader {
    margin-left: -68%
}

#profileAddress {
    text-align: left;
    font-size: 60px;
    margin-left: 2%;
}

#profileInfoHeader {
    margin-top: -4%;
}

#profileCashHeader {
    margin-top: -2%;
    margin-bottom: -2%;
}

#profileB {
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

#profileBsmall {
    display: none;
}

.area {
    display: flex;
}
.buttonP {
    width: 300px;
    height: 52px;
    background: #48a37d;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    transition: background 0.5s ease-out;
}
.buttonP:hover {
    background-color: #ffffff;
    color: #48a37d;
    border-color: #48a37d;
    border: solid 2px;
}
.buttonA {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
}
.green {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    background-color: #84FF79;
    width: 300px;
    height: 64px;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 900;
    margin-right: 20px;
}
.red {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    background-color: #ff7979;
    width: 288px;
    height: 64px;
    flex: 1;
    border-radius: 15px;
}
.panelText{
    margin-top: 10px;
    text-align: center;
    font-family: 'Inter';
}
.infoB {
    flex: 1;
}
.houseInfo {
    display: flex;
    flex: 1;
    margin: auto;
}

.accordion {
    position: static;
    margin-top: -400px;
    width: 100%;
    height: 70%;
    border: none;
    background-color: transparent;
}

.accordion:focus {
    border: none;
    outline: none;
}

.moreinfo {
    margin-top: -40px;
    height: 400px;
    background: #f0f5f3;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: sticky;
}

#profile-margin {
    margin-top: -40px;
}

.accordion-content-width{
    list-style: none;
    width: 29.33%;
    float: left;
    padding: 2%;
    background: white;
    margin: 2%;
    border-radius: 15px;
}

.accordion-content-width-two{
    list-style: none;
    width: 43.99%;
    float: left;
    padding: 2%;
    background: white;
    margin: 2%;
    border-radius: 15px;
}

.accordion-content{
    list-style: none;
    font-family: 'Inter';
    text-align: left;
    color: #377d60;
    font-size: 20px;
}

#payment-help-margin {
    margin-top: -30px;
}


.profileOwnerName, .profileOwnerAddress {
    display: block;
}


/* -------------------------------------------------------------------------- */
/* Vehicles */
.vehicle-box {
    background-color: #f0f5f3;
    height: 400px;
    width: 800px;
    border-radius: 1.5%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    margin-top: -2%;
    margin-bottom: 2.5%;
}

.vehicle-container {
    width: 50%;
}


/* -------------------------------------------------------------------------- */
/* Responsiveness */

@media only screen and (max-width: 1600px) {
    .vehicle-box {
        height: 400px;
        width: 600px;
    }

    #profileAddress, .profileText, #profileHeader, #profileLotHeader, .panelText {
        font-size: 40px;
    }
    
    .accordion-content, #profileInfoHeader, #profileCashHeader {
        font-size: 16px;
    }

    #profileStrip {
        margin-top: -2.5%;
        margin-bottom: 2%;
    }
    
    #profileStrip, #profileStripB {
        height: 12%;
        width: 60%;
    }

    #profileLotHeader {
        margin-left: -50%;
    }

    #payment-help-margin {
        margin-top: -20px;
    }

    .profileOwnerName, .profileOwnerAddress {
        display: none;
    }

    .buttonP {
        font-size: 16px;
        width: 170px;
        height: 30px;
    }
    
    .green {
        margin-top: 0px;
        height: 50px;
    }
    
    .panelText {
        margin-top: 2px;
    }
    
    #profile-margin {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 1400px) {
    .vehicle-box {
        height: 300px;
        width: 500px;
        margin-top: -3%;
    }

    #profileAddress, .profileTextsmall, #profileHeader, #profileLotHeader, .panelText, .accordion-content, #profileInfoHeader, #profileCashHeader {
        font-size: 30px;
    }
    
    .profileText {
        display: none;
    }
    
    .profileTextsmall {
        display: block;
        margin-left: 2%;
        margin-top: 2.5%;
    }

    #profileStrip, #profileStripB {
        height: 10%;
    }
    
    #profileLotHeader {
        margin-left: -54%;
    }
    
    #profileB {
        display: none;
    }
    
    #profileBsmall {
        margin-top: 1.65%;
        margin-right: 0.5%;
        display: block;
    }
    
    .buttonP {
        font-size: 16px;
        width: 160px;
        height: 40px;
    }
    
    .green {
        margin-top: -5px;
        height: 30px;
        width: 100px;
    }
    
    #profileStrip {
        margin-top: -4%;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 1200px) {
    #profileAddress, .profileText, #profileHeader, #profileLotHeader, .panelText {
        font-size: 20px;
        margin-top: -0.5%;
    }
    
    .accordion-content, #profileInfoHeader {
        font-size: 12px;
        margin-top: -0.5%;
    }
    
    #payment-help-margin {
        margin-top: -23px;
    }

    .accordion {
        margin-top: -450px;
    }
}

@media only screen and (max-width: 1024px) {
    #profileAddress, .profileText, #profileHeader, #profileLotHeader, .panelText, .accordion-content, #profileInfoHeader, #profileCashHeader {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    .vehicle-box {
        height: 300px;
        width: 300px;
    }

    #profileAddress, .profileText, #profileHeader, #profileLotHeader, .panelText, .accordion-content, #profileInfoHeader, #profileCashHeader {
        font-size: 12px;
        margin-top: -1%;
    }
    
    #profileAddress {
        margin-top: -2.5%;
    }
    
    #profileStrip, #profileStripB {
        height: 8%;
    }
    
    #profileBsmall {
        margin-top: 1.4%;
        margin-right: 0.5%;
    }
    
    .buttonP {
        font-size: 12px;
        width: 120px;
        height: 20px;
    }
    
    .accordion {
        margin-top: -500px;
    }
    
    .green {
        margin-top: -2.5%;
        height: 20px;
        width: 60px;
    }
    
    .panelText {
        margin-top: 4%;
    }
    
    #profileStrip {
        margin-top: -8%;
        margin-bottom: 2%;
    }
}