#profileStrip {
    background-color: #f0f5f3;
    height: 15%;
    width: 75%;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.profileText {
    margin-top: auto;
    margin-left: 16px;
    margin-bottom: auto;
}

#profileHeader {
    margin-top: -3%;
    text-align: left;
    font-size: 60px;
    margin-bottom: -.1%;
}

#profileLotHeader {
    margin-left: -68%
}

#profileAddress {
    text-align: left;
    font-size: 60px;
    margin-left: 2%;
}

#profileInfoHeader {
    margin-top: -4%;
}

#profileCashHeader {
    margin-top: -2%;
    margin-bottom: -2%;
}

#profileB {
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
.area {
    display: flex;
}
.buttonP {
    width: 300px;
    height: 52px;
    background: #48a37d;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    transition: background 0.5s ease-out;
}
.buttonP:hover {
  background-color: #ffffff;
  color: #48a37d;
  border-color: #48a37d;
  border: solid 2px;
}
.buttonA {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
}
.green {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    background-color: #84FF79;
    width: 300px;
    height: 64px;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 900;
    margin-right: 20px;
}
.red {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    background-color: #ff7979;
    width: 288px;
    height: 64px;
    flex: 1;
    border-radius: 15px;
}
.panelText{
    margin-top: 10px;
    text-align: center;
}
.infoB {
    flex: 1;
}
.houseInfo {
    display: flex;
    flex: 1;
    margin: auto;
}

.accordion {
    position: static;
    margin-top: -400px;
    width: 100%;
    height: 70%;
    border: none;
    background-color: transparent;
}

.accordion:focus {
    border: none;
    outline: none;
}

.moreinfo {
    margin-top: -40px;
    height: 400px;
    background: #f0f5f3;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: sticky;
}

.accordion-content-width{
    list-style: none;
    width: 29.33%;
    float: left;
    padding: 2%;
    background: white;
    margin: 2%;
    border-radius: 15px;
}

.accordion-content{
    list-style: none;
    font-family: 'Inter';
    text-align: left;
    color: #377d60;
    font-size: 20px;
}



/* -------------------------------------------------------------------------- */
/* Vehicles */
.vehicle-box {
    background-color: #f0f5f3;
    height: 400px;
    width: 897px;
    border-radius: 1.5%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.vehicle-container {
    width: 50%;
}