@import url(https://fonts.cdnfonts.com/css/mesa-grande);
@import url(https://fonts.cdnfonts.com/css/marvelan);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');
@font-face {font-family: "Mesa Grande";
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot");
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot?#iefix")
                format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff2")
                format("woff2"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff")
                format("woff"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.ttf")
                format("truetype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.svg#Mesa Grande")
                format("svg"); 
}
body{
    background: #939992;
}
.tableContent {
    border-collapse: collapse;
    margin: 25px 0 20px 20px;
    font-size: 20px;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    width: 1840px;
    height: 680px;
}

th, td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tableTitle {
    font-size: 25px;
}

.tableContentText {
    font-size: 28px;
    font-family: Sulphur Point;
}

.tableContent thead tr {
    background-color: #D9D9D9;
    font-family: 'Noto Sans Bengali', sans-serif;
    color: #4a4237;
}

.tableContent tbody tr {
    border-bottom: 1px solid #4d4539;
}

.tableContent tbody tr:nth-of-type(odd) {
    background-color: #bdaa8f;
}

.tableContent tbody tr:nth-of-type(even) {
    background-color: #a6957c;
}

tbody {
    font-family: Roboto;
}

* {
  box-sizing: border-box;
}
.sortSearch input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.sortSearch button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.sortSearch button:hover {
  background: #0b7dda;
}

.sortSearch::after {
  content: "";
  clear: both;
  display: table;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.openSortB {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

/* The popup form - hidden by default */
.sortPopup {
  display: none;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  margin-left: 20px;
  padding: 10px;
  position: fixed;
  background-color: white;
  z-index: 10;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.tableB {
    width: 200px;
    height: 75px;
    border-radius: 15px;
    font-size: 24px;
}

.accept {
    background-color: #84ff79;
}
.reject {
    background-color: #ff7979;
}

a:visited { 
    text-decoration: none;
    color: black;    
}

a{
    text-decoration: none
}