@import url(https://fonts.cdnfonts.com/css/mesa-grande);
@import url(https://fonts.cdnfonts.com/css/marvelan);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');
@font-face {font-family: "Mesa Grande";
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot");
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot?#iefix")
                format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff2")
                format("woff2"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff")
                format("woff"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.ttf")
                format("truetype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.svg#Mesa Grande")
                format("svg"); 
}
body{
    background: #939992;
}
.tableContent {
    border-collapse: collapse;
    margin: 25px 0 20px 20px;
    font-size: 20px;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    width: 1840px;
    height: 680px;
}

th, td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tableTitle {
    font-size: 25px;
}

.tableContentText {
    font-size: 28px;
    font-family: Sulphur Point;
}

.tableContent thead tr {
    background-color: #D9D9D9;
    font-family: 'Noto Sans Bengali', sans-serif;
    color: #4a4237;
}

.tableContent tbody tr {
    border-bottom: 1px solid #4d4539;
}

.tableContent tbody tr:nth-of-type(odd) {
    background-color: #bdaa8f;
}

.tableContent tbody tr:nth-of-type(even) {
    background-color: #a6957c;
}

tbody {
    font-family: Roboto;
}

* {
  box-sizing: border-box;
}
form.query input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.query button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.query button:hover {
  background: #0b7dda;
}

form.query::after {
  content: "";
  clear: both;
  display: table;
}