.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  animation-name: maincontent;
  animation-duration: 1s;
}
#button {
  transition: 0.5s;
}
#button:hover {
  color: rgb(255,255,255);
  height: 100%;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Sulphur Point;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  background-color: rgb(255, 70, 84);
}
.content-buttonMORE:hover {
  color:rgb(255, 255, 255);
  font-size: 40px;
  font-family: Sulphur Point;
  font-weight: bold;
  border-width: 0px;
  background-color: rgb(58, 73, 145);
}
.main-content {
  top: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  flex-direction: column;
  overflow: hidden;
}
.content-h1 {
  color: #172113;
  font-size: 96px;
  font-style: normal;
  font-family: Koulen;
  font-weight: 400;
  overflow: hidden;
}
.user {
  color: #FFFFFF;
}
.content-desc {
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  font-family: Sulphur Point;
  padding-left: 96px;
  padding-right: 96px;
  padding-bottom: 34px;
  overflow: hidden;
}
.content-button {
  color: rgb(15, 24, 34);
  font-size: 40px;
  font-family: Sulphur Point;
  font-weight: bold;
  border-width: 0px;
  background-color: rgb(255, 70, 84);
  overflow: hidden;
}
.content-buttonMORE {
  color: rgb(15, 24, 34);
  font-size: 40px;
  font-family: Sulphur Point;
  font-weight: bold;
  border-width: 0px;
  background-color: rgb(121, 147, 225);
  overflow: hidden;
}
.content-bg {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.bg-img {
  height: 100%;
  width: 100%;
  opacity: 0.1;
  z-index: 1;
  align-self: center;
  border-color: transparent;
  overflow: hidden;
}
.bg-fade {
  flex: 1;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  z-index: 2;
  position: absolute;
  margin-top: 2px;
  border-width: 1px;
}
@media(max-width: 1800px) {
  .bg-img {
    width: auto;
    align-self: center;
  }
  .title-h1 {
    font-size: 150px;
  }
  .content-h1 {
    font-size: 80px;
  }
  #welcome2-h1 {
    font-size: 76px;
  }
  .content-desc {
    font-size: 22px;
    padding-bottom: 40px;
  }
}

@media(max-width: 1200px) {
  .title-h1 {
    font-size: 150px;
    padding-bottom: 350px;
  }
  .content-desc {
    font-size: 16px;
  }
  .bg-img {
    width: auto;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .main-content {
    top: 240px;
  }
  .content-desc {
    display: none;
    font-size: 30px;
  }
  .bg-img {
    width: auto;
    align-self: center;
  }
  .bg-fade {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .bg-img {
    width: auto;
    height: auto;
    align-self: center;
  }
  .bg-fade {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .container {
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-title {
    font-size: 30px;
    padding-right: 0px;
  }
  .main-content {
    top: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-h1 {
    font-size: 90px;
  }
  .content-button {
    font-size: 20px;
  }
  .bg-img {
    width: auto;
    height: 992px;
    align-self: center;
  }
  .bg-fade {
    left: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    margin: auto;
  }
}